<nav class="navbar navbar-light bg-light mb-3">
  <div class="container">
    <span class="navbar-brand mb-0 h1">Gabriel's Phone</span>
    <div class="profile"></div>
  </div>
</nav>

<div class="container">
  <div class="row" *ngFor="let m of messages">
    <div class="bubble" [ngClass]="{'ml-auto': m.self, 'self': m.self}">{{m.msg}}</div>
  </div>
  <div class="row chatbox">
    <div class="col-sm-12">
      <hr>
      <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2" style="width: 80%;">
          <label for="inputPassword2" class="sr-only">Password</label>
          <input type="text" class="form-control" id="inputPassword2" placeholder="" style="width: 100%;" #messageBox>
        </div>
        <button class="btn btn-primary mb-2" (click)="sendMessage(messageBox.value)"><i
            class="fa fa-send mr-2"></i>Send</button>
      </div>
    </div>
  </div>
</div>